<body>
<h1>{{ 'Password reset'|trans }}</h1>

<p>{{ 'You have requested a password reset' }}</p>
<a href="{{ url('security_redeem_password', {token: token}) }}">{{ 'Recover password'|trans }}</a>
</body>
