{% extends 'base.html.twig' %}

{% block title %}Edit Artiesten{% endblock %}

{% block body %}
    <h1>Edit Artiesten</h1>

    {{ include('artist/_form.html.twig', {'button_label': 'Update'}) }}
    <br/>
    {{ include('artist/_delete_form.html.twig') }}
    <br/>

    <a href="{{ path('artist_index') }}">back to list</a>

    <br/> <br/>


{% endblock %}