<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Muzieksite Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="../public/images/favicon.ico">

    <!-- App css -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../public/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../public/css/style.css" rel="stylesheet" type="text/css" />

    <script src="../public/js/modernizr.min.js"></script>

</head>

<body>

<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">

            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <!-- <a href="index.html" class="logo">
                    <span class="logo-small"><i class="mdi mdi-radar"></i></span>
                    <span class="logo-large"><i class="mdi mdi-radar"></i> Highdmin</span>
                </a> -->
                <!-- Image Logo -->
                <a href="/" class="logo">
                    <img src="../public/images/logo_sm.png" alt="" height="30" class="logo-small">
                    <img src="../public/images/logo.png" alt="" height="34" class="logo-large">
                </a>

            </div>
            <!-- End Logo container-->


            <div class="menu-extras topbar-custom">

                <ul class="list-unstyled topbar-right-menu float-right mb-0">





                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="../public/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> <span class="ml-1 pro-user-name">Maxine K <i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h6 class="text-overflow m-0">Welcome !</h6>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-power"></i> <span>Logout</span>
                            </a>

                        </div>
                    </li>
                </ul>
            </div>
            <!-- end menu-extras -->

            <div class="clearfix"></div>

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="home.html.twig"><i class="icon-speedometer"></i>Home</a>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="icon-layers"></i>Login</a>
                        <ul class="submenu">
                            <li><a href="apps-calendar.html">Login</a></li>
                            <li><a href="apps-tickets.html">Register</a></li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="icon-briefcase"></i>Nummers</a>
                        <ul class="submenu">
                            <li>
                                <ul>
                                    <li><a href="ui-typography.html">Read</a></li>
                                    <li><a href="ui-cards.html">Create</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="has-submenu">
                        <a href="#"><i class="icon-fire"></i>Albums</a>
                        <ul class="submenu">
                            <li class="has-submenu">
                                    <li><a href="chart-flot.html">Read</a></li>
                                    <li><a href="chart-morris.html">Create</a></li>
                                </ul>
                            </li>
                    </li>

                            <li class="has-submenu">
                                <a href="#"><i class="icon-fire"></i>Artiesten</a>
                                <ul class="submenu">
                                    <li class="has-submenu">
                                    <li><a href="chart-flot.html">Read</a></li>
                                    <li><a href="chart-morris.html">Create</a></li>
                                </ul>
                            </li>
                            </li>


                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->


<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Highdmin</a></li>
                            <li class="breadcrumb-item"><a href="#">Extra Pages</a></li>
                            <li class="breadcrumb-item active">Starter</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Starter</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                2018 - 2019 © Highdmin. <span class="d-none d-sm-inline-block"> - Coderthemes.com</span>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->


<!-- jQuery  -->
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/bootstrap.bundle.min.js"></script>
<script src="../public/js/waves.js"></script>
<script src="../public/js/jquery.slimscroll.js"></script>

<!-- App js -->
<script src="../public/js/jquery.core.js"></script>
<script src="../public/js/jquery.app.js"></script>

</body>
</html>