{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Create your account'|trans }}</h1>
    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
